DATABASE_URL = "postgresql://kapil:kapil@localhost:5432/loan_db"

# JWT
SECRET_KEY=supersecretkey
ALGORITHM=HS256

# Admin seed user
ADMIN_MOBILE=9876543210
ADMIN_PASSWORD=Admin@123
ADMIN_NAME=System Admin

CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
